<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h1>Ninja Gold</h1>
    <div class="gold-total">
        <h2>Your Gold: {{ request.session.count }}</h2>
    </div>
    <div>
        <form action="/reset" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn-2" value="Play Game">
        </form>
    </div>
    <div class="main-row">
        <form action="/process_money" method="POST">
            {% csrf_token %}
            <div class="well">
                <h4 class="top">Farm</h4>
                <h4>10 - 20 GOLD</h4>
                <input type="hidden" name="building" value="farm" />
                <input type="submit" class="btn" value="Find Gold!">
            </div>
        </form>
        <form action="/process_money" method="POST">
            {% csrf_token %}
            <div class="well">
                <h4 class="top">Cave</h4>
                <h4>5 - 10 GOLD</h4>
                <input type="hidden" name="building" value="cave" />
                <input type="submit" class="btn" value="Find Gold!">
            </div>
        </form>
        <form action="/process_money" method="POST">
            {% csrf_token %}
            <div class="well">
                <h4 class="top">House</h4>
                <h4>2 - 5 GOLD</h4>
                <input type="hidden" name="building" value="house" />
                <input type="submit" class="btn" value="Find Gold!">
            </div>
        </form>
        <form action="/process_money" method="POST">
            {% csrf_token %}
            <div class="well">
                <h4 class="top">Casino Earn/Lose</h4>
                <h4>0 - 50 GOLD</h4>
                <input type="hidden" name="building" value="casino" />
                <input type="submit" class="btn" value="Find Gold!">
            </div>
        </form>
    </div>
    <div class="row">
        <h3>Activities:</h3>
        <div class="box">
            <ul>{% for i in request.session.box %}
                <li class="{{ i.class }}">{{ i.log }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>

</html>