<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
        <h1>Hello {{user.first_name}}! Lets Edit your Trip!</h1>
        <a href="/dashboard/logout">Logout</a>
        <form action="/dashboard/update/{{trip.id}}" method="POST">
            {% csrf_token %}
            <label for="destination">Destination</label>
            <input type="text" name="destination" id="destination" value="{{trip.destination}}"><br>
            <label for="start_date">Start Date</label>
            <input type="date" name="start_date" id="start_date" value="{{trip.start_date | date:'Y-m-d' }}"><br>
            <label for="update_end_date">End Date</label>
            <input type="date" name="end_date" id="end_date" value="{{trip.end_date | date:'Y-m-d'}}"><br>
            <label for="plan">Plan</label><br><br>
            <textarea name="plan" id="plan" cols="30" rows="10">{{trip.plan}}</textarea><br>
            <a href="/dashboard">Cancel</a>
            <input type="submit" value="Submit">
        </form>
			{% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
</body>
</html>