<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razor Fun</title>
</head>
<body>
    <h1>Here are some delicious foods!</h1>
    @{
        string[] food = {
            "Apple Pie",
            "Burritos",
            "Clams Casino",
            "Donuts"
        };
    }
</body>
</html>