<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="center-container">
        <h1>About Me</h1>
    </div>
<div class="container">
    <div class="one">
        <img src="img/taru.jpg" alt="Taru Taru" style='height: 100%; object-fit: contain'>
        <h3>Taru Taru</h3>
        <h3>Tarus are cool!</h3>
    </div>
    <div class="two">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eius et excepturi exercitationem totam vitae tempora quod dolorum ab voluptate voluptas dolores, laborum in inventore vero laudantium tenetur labore optio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, ab, delectus id ducimus velit veritatis quos temporibus soluta odio minima placeat explicabo facilis consequuntur ratione voluptates maxime, eligendi ut exercitationem. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex harum unde laboriosam. Nam beatae voluptates atque magni, provident inventore recusandae dolorem reprehenderit, non blanditiis dignissimos facere debitis aperiam voluptate alias?
        </p>
    </div>
</div>
</body>
</html>