<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Projects Page</title>
</head>
<body>
    <nav>
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div>
        <h1>Here are some tarus!</h1>
    </div>
    <div>
        <img src="img/blonde-female-taru.jpg" alt="blonde taru">
        <p>A blonde Taru</p>
    </div>
    <div>
        <img src="img/grey-hair-taru.jpg" alt="grey hair taru">
        <p>A grey haired Taru</p>
    </div>
    <div>
        <img src="img/red-hair-taru.jpg" alt="red hair taru">
        <p>A red haired Taru</p>
    </div>

</body>
</html>