<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Show</title>
</head>

<body>
    <a href="/shows">Go Back</a>
    <h1>Add a New Show</h1>
    <form action="/shows/create" method="post">
        {% csrf_token%}
        <label for="title">Title</label>
        <input type="text" name="title" id="title"><br>
        <label for="network">Network</label>
        <input type="text" name="network" id="network">
        <label for="release_date">Release Date</label>
        <input type="date" name="release_date" id="release_date"><br>
        <label for="description">Description</label><br>
        <textarea name="description" id="description" cols="30" rows="10"></textarea><br>
        <button>Create</button>
    </form>
    {% for error in messages %}
    <p>{{error}}</p>
    {% endfor %}
</body>

</html>