<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add an Author</h1>
    <form action="/" method=post>
        {% csrf_token%}
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name"><br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name"id="last_name"><br>
        <label for="Notes">Notes:</label><br>
        <textarea name="Notes" id="notes" cols="30" rows="10"></textarea><br>
        <button>Add</button>
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actiion</th>
        </tr>
    {% for author in all_authors %}
        <tr>
            <td>{{ author.id }}</td>
            <td>{{ author.first_name }} {{author.last_name}}</td>
            <td><a href="">View</a></td>
        </tr>
    {% endfor %}
    </table>
</body>

</html>