<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Book</title>
</head>
<body>
    <h1>{{ book_id.title }}</h1><br>
    <p>ID: {{ book_id.id }}</p><br>
    <p>Description: {{ book_id.desc }}</p><br>
    <p>Authors</p>
    <!-- {{ book_id.authors.all }} -->
    <ul>
        {% for author in book_id.authors.all %}
            <li>{{ author }}</li>
        {% endfor %}
    </ul>
    <form action="add_auth_to_book" method="post">
        {% csrf_token%}
        <select name="auth_id" id="auth_id">
            <option value="#"></option>
            <option value="#"></option>
            <option value="#"></option>
        </select>

    </form>

</body>
</html>