<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Book</title>
</head>
<body>
    <h1>{{ auth_id.first_name}} {{ auth_id.last_name }}</h1><br>
    <p>ID: {{ auth_id.id}}</p><br>
    <p>Description: {{ auth_id.notes }}</p><br>
    <p>Authors</p>
    {{ author_id.books.all }}
    <ul>
        {% for book in author_id.books.all %}
            <li>{{ book }}</li>
        {% endfor %}
    </ul>
    <form action="#" method="post">
        {% csrf_token%}
        <select name="auth_id" id="auth_id">
            <option value="#"></option>
            <option value="#"></option>
            <option value="#"></option>
        </select>

    </form>

</body>
</html>