<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<body>
    <h1>Submitted Info</h1>
    <h2>Name</h2>
    <p>@Model.Name</p>
    <h2>Location</h2>
    <p>@Model.Location</p>
    <h2>Language</h2>
    <p>@Model.Language</p>
    <h2>Comment</h2>
    <p>@Model.Comment</p>
    <button><a href="/">Go Back</a></button>
</body>
</html>