/* * {
    border: 1px solid black;
} */

body{
    font-family: sans-serif;
}

#databox{
    height: 200px;
    color: gray;
    max-width: fit-content;
}

p{
    text-align: center;
}

h3{
    border: 1px solid black;
    color:black;
    text-align: center;
    font-size: 50px;
}