<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="text-align:center;">Welcome!</h1>
    <div id=boxes style="">
        <p style="background-color: lightblue; height: 200px; width: 200px; border: 1px solid black; float: left;"></p>
        <p style="background-color: lightblue; height: 200px; width: 200px; border: 1px solid black; float: left;"></p>
        <p style="background-color: lightblue; height: 200px; width: 200px; border: 1px solid black; float: left;"></p>
    </div>
</body>

</html>