<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checker Board</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>8 by 8 Checkerboard</h1>
    <table>
        {% for i in range(4): %}
        <tr>
            {% for j in range(x): %}
            <td class="color1"></td>
            <td class="color2"></td>
            {% endfor %}
        </tr>
        <tr>
            {% for k in range(x): %}
            <td class="color2"></td>
            <td class="color1"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>