<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Go to Book Page</a>
    <h1>Add an Author</h1>
    <form action="/process_author" method="POST">
    {% csrf_token %}
    <label for="first_name" name="first_name" id="first_name">First Name:</label>
    <input type="text" name="first_name" id="first_name"><br>
    <label for="last_name" name="last_name" id="last_name">Last Name:</label>
    <input type="text" name="last_name" id="last_name"><br>
    <label for="notes" name="notes" id="notes">Notes:</label>
    <textarea name="notes" id="notes" cols="30" rows="10"></textarea><br>
    <button>Add</button>
    </form>

    <table border=1 frame=hsides rules=rows>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for author in all_authors %}
        <tr>
            <td>{{author.id}}</td>
            <td>{{author.first_name}}</td>
            <td>{{author.last_name}}</td>
            <td><a href="/author/{{author.id}}">Views</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>