<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTENSILS</title>
</head>
<body>
    <a href="/">Go Home</a>
    <h1>This is the page for {{one_utensil.name}}!</h1>
    <p>This {{one_utensil.name}} is a very fine piece of equipment! It was made from the finest materials</p>
    <p>Is it sharp? {{one_utensil.is_sharp}}. Very {{one_utensil.is_sharp}}!</p>
    <h2>List of Chefs</h2>
    {% for chef in one_utensil.users.all %}
        <p>{{chef.id}} | {{chef.name}} - {{chef.cuisine}}</p>
    {% endfor %}
    <form action="/utensil/user/add" method="POST">
        {% csrf_token %}
        <select name="chef_id" id="chef_id">
            {% for chef in all_chefs %}
                <option value="{{chef.id}}">{{chef.name}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="utensil_id" value="{{one_utensil.id}}">
        <button>Select Chef</button>
    </form>
</body>
</html>