<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Show {{show.id}}</h1>
    <form action="/shows/{{show.id}}/update" method='POST'>
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" value="{{show.title}}"><br>
        <label for="network">Network</label>
        <input type="text" name="network" id="network" value='{{show.network}}'><br>
        <label for="release_date">Release Date</label>
        <input type="date" name="release_date" id="release_date" value="{{show.release_date}}"><br>
        <label for="description">Description</label><br>
        <textarea name="description" id="description" cols="30" rows="10">{{show.description}}</textarea><br>
        <button>Update</button>
    </form>
    {% for error in messages %}
        <p>{{ error }}</p>
    {% endfor %}
    <a href="/shows/{{show.id}}">Go to Show</a>
</body>
</html>