<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Book</title>
</head>

<body>
    <h1>Add a Book</h1>
    <form action="/process_book" method="post">
        {% csrf_token %}
        <label for="title">Title</label>
        <input type="text" name="title" id="title"><br>
        <label for="description">Description</label><br>
        <textarea name="description" id="description" cols="30" rows="10"></textarea><br>
        <input type="submit" value="Add">
    </form>
    

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for book in all_books %}
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td><a href="/book/{{book.id}}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>