<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Author</title>
</head>
<body>
    <h1>{{one_author.first_name}} {{one_author.last_name}}</h1>
    <h3>ID: {{one_author.id}}</h3>
    <h3>Notes: {{one_author.notes}}</h3>
    <h3>Books</h3>
    {% for book in one_author.books.all %}
        <p>- {{book.title}}</p>
    {% endfor %}
    <form action="/add_book_to_auth" method="post">
        {% csrf_token %}
        <select name="book_id" id="book_id">
            {% for book in all_books %}
                <option value="{{book.id}}">{{book.title}}</option>
            {% endfor %}
            </select>
        <button>Add</button>
        <input type="hidden" name="auth_id" value="{{one_author.id}}">
    </form>
</body>
</html>