<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Book</title>
</head>
<body>
    <h1>{{one_book.title}}</h1>
    <h3>ID: {{one_book.id}}</h3>
    <h3>Description: {{one_book.description}}</h3>
    <h3>Authors</h3>
    {% for author in one_book.authors.all %}
        <p>- {{author.first_name}} {{author.last_name}}</p>
    {% endfor %}
    <form action="/add_auth_to_book" method="post">
        {% csrf_token %}
        <select name="auth_id" id="auth_id">
        {% for author in all_authors %}
            <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
        {% endfor %}
        </select>
        <input type="hidden" name="book_id" value="{{one_book.id}}">
        <button>Add</button>
    </form>
</body>
</html>